/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   

}
 
/* common*/

:root {
    font-family: Whitney,'Helvetica Neue', Arial, Helvetica, sans-serif;
 }

.container {
    width: 50%;
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    font-size: 2rem;
}

h3 {
    
    font-size: 1.3rem;

}

.spacing {
    padding: 6rem 0;
}


li {
    list-style: none;
    padding-bottom: 1rem;
}


img {
    max-width: 100%;
}

section {
    padding: 4rem 0 0;
}


.card {
        height: 100%;
}


.border {
        border: 1px solid grey;
}


i {
    margin-right: 0.5rem;
}

.blu-btn {
    background-color: #0061fe;
    
}

.btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
}
/*debug*/

.debug {
    

    * {
         border: 1px solid black;
    }
    
    .col_4 {
        width: calc(100% / 12 *4);
         padding: 1rem;
         

               
    } 
            
    .col_1 {
        width: calc(100% / 12 * 12);
        
                
    }

    
    .meeting {
            min-height: 300px;
        }

    
    footer {
        min-height: 200px;

        .container {
            
           
            .list {
                background-color: green;
                min-height: 200px;

            }
        }
    }
    
}

/*navbar*/


header {
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid;
    
}
.navbar {
    display: flex;
    justify-content: space-between;

        a {
            text-decoration: none;
        }

        .left {
        display: flex;
        }

}

    
    /*jumbo*/

h1  {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.hero {
    background-color: #b4d0e6;
    min-height: 400px;

    .jumbo {
        padding: 2rem 0 0;
    

        .flex {
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 300px;

            .text {
                width: 33%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .trial > p {
                    margin-top: 2rem;
                }

                .fa-solid {
                    font-size: 2rem;
                }

            }
        
            .img {
                width: 66%;
                position: relative;

                img {
                position: absolute;
                bottom: -40px;
                }
            }
        }
            

    }
}

.hero > .container {
    width: 60%;
}


/*business*/


    /*cards*/


.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0rem -1rem;

        .col_4 {
            width: calc(100% / 12 *4);
            padding: 2rem 1rem;
            
            font-size: 0.8rem;

            
        
            

                .card_head {
                    text-align: center;
                    padding: 1rem;
                    border-bottom: 1px solid grey;
                    
                    font-weight: 500;
                    

                }

                .card_body {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    padding: 2rem 1rem;

            
                    .pricing {
                        display: flex;
                        flex-direction: column;

                        .price {
                            font-weight: 700;
                        }

                        
                        .time_fraction {
                            padding-bottom: 2rem;
                            color: gray;
                        } 
                    
                    }

                }
            

               
        } 
            
        
        

            
        }
        
        .col_1 {
            width: calc(100% / 12 * 12);           
            padding: 1rem;
            font-size: 0.8rem;


                .card {
                    border: 1px solid grey;
                }
            
                

                    .card_head {
                        text-align: center;
                        padding: 1rem;
                        border-bottom: 1px solid grey;
                        font-weight: 500;
                    }

                    .card_body {
                        display: flex;
                        justify-content: space-between;
                        padding: 1rem 1rem 0;
                    }
                     .card_foot {
                        padding: 0rem 1rem;
                        

                     }

                    p {
                        padding: 1.5rem 0;
                    }
        }
        


        .card_body > div > * {
            padding: 1rem 0;

            
        }

        .services_list > ul > * {
            padding: 1rem 0;
        }

        .trial-btn {
            display: block;
            text-align: center;
            text-decoration: none;
            
        }

        .buy-now {
            padding-left: 0.5rem;
        }




.fa-check {
    color: blue;
    font-size: 1rem;
}


hr {
    width: 5rem;

}

.timing {
    padding: 2rem 0;

    

}

.timing > * {
    padding-right: 1rem;

    
}


.time_fraction.no_display {
    visibility: hidden;
}
        /*partner*/

.meeting {

    margin: 2rem 0;

     .flex {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 2rem;
        min-height: 300px;

            .text {
                width: 33%;
                margin-top: 2rem;

                
            }
        
            .img {
                width: 66%;
            }

    }

    
}

.text > * {
    padding: 1rem 0;

}


/*operation*/

.operation {

    h2 {
        padding-bottom: 2rem;
    }
                

        h3 {
            padding-bottom: 1rem;
        }
                        
}

.card_foot {
    padding: 4rem 0;

    a {
        margin-top: 2rem;
        display: block;
    }
}


/*footer*/

.footer {
    background-color: black;
    color: white;
    padding-bottom: 2rem;


    .container {
        width: 60%;

        .len {
            font-size: 0.8rem;

            i {
                margin: 0;
            }
        }
    }
}
.fa-sort-up {
    vertical-align: sub;
}

.foot_row {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;

    .col_2 {

        width: calc(100% / 12 * 2);

        h3 {

            margin-bottom: 1rem;
        }

        ul > li {
            font-size: 0.8rem;
        }
    }

}
.foot_hr  {
    color: lightgray;
    width: 5rem;
    margin-bottom: 2rem;
 }


