/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.left_menu {
    display: flex;
}